<nav>
    <div class="site-title">
        <a href="/">Blogopedia</a>
        <p>A Minimalistic Blog Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>